extends ../base

block variable
    - var template = "about";

block content
    h1.page__title About Floema
    p.page__description This is the about page of Floema, a creative platform for displaying jewelry and art.
