extends ../base

block variable
    - var template = "collections";

block content
    h1.page__title Collections
    p.page__description Here you can find various collections of jewelry and art pieces.
